<p style="color: green"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    <strong><%=  @friend.first_name + " " + @friend.last_name %> </strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Friend info</h5>
    <p class="card-text">Phone: <%=  @friend.phone %></p>
    <p class="card-text">Email: <%=  @friend.email %></p>
    <p class="card-text">Twitter: <%=  @friend.twitter %></p>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-warning m-2" %>
  </div>
  <div class="card-footer text-body-secondary">
    Added 2 days ago
  </div>
</div>
   

<div>

  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary m-2" %>
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger m-2" %>
</div>
